.header-area{
    height: var(--ts_header-height);
    background-color: var(--ts_bs-white);
}
.main-area{
    height: calc(100dvh - calc( var(--ts_header-height) + var(--ts_copyright-height) ) );
    background-color: var(--ts_main-bg);
}
.copyrigh-area{
    height: var(--ts_copyright-height);
    background-color: var(--ts_bs-white);
}